@font-face {
  font-family: 'golf-icons';
  src:  url('../fonts/golf-icons/golf-icons.eot?vtnll2');
  src:  url('../fonts/golf-icons/golf-icons.eot?vtnll2#iefix') format('embedded-opentype'),
    url('../fonts/golf-icons/golf-icons.ttf?vtnll2') format('truetype'),
    url('../fonts/golf-icons/golf-icons.woff?vtnll2') format('woff'),
    url('../fonts/golf-icons/golf-icons.svg?vtnll2#golf-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="golf-icons-"], [class*=" golf-icons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'golf-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.golf-icons-golf-ball:before {
  content: "\e900";
}
.golf-icons-golf-tee:before {
  content: "\e901";
}
.golf-icons-remove:before {
  content: "\e90e";
}
.golf-icons-trends:before {
  content: "\e90f";
}
.golf-icons-arrow-with-circle-down:before {
  content: "\e902";
}
.golf-icons-arrow-with-circle-left:before {
  content: "\e903";
}
.golf-icons-arrow-with-circle-right:before {
  content: "\e904";
}
.golf-icons-arrow-with-circle-up:before {
  content: "\e905";
}
.golf-icons-chevron-down:before {
  content: "\e906";
}
.golf-icons-chevron-left:before {
  content: "\e907";
}
.golf-icons-chevron-right:before {
  content: "\e908";
}
.golf-icons-chevron-up:before {
  content: "\e909";
}
.golf-icons-flow-tree:before {
  content: "\e910";
}
.golf-icons-trash:before {
  content: "\e911";
}
.golf-icons-address:before {
  content: "\e912";
}
.golf-icons-area-graph:before {
  content: "\e913";
}
.golf-icons-check:before {
  content: "\e914";
}
.golf-icons-circle-with-plus:before {
  content: "\e90a";
}
.golf-icons-credit:before {
  content: "\e915";
}
.golf-icons-cross2:before {
  content: "\e90b";
}
.golf-icons-erase:before {
  content: "\e90c";
}
.golf-icons-home2:before {
  content: "\e916";
}
.golf-icons-magnifying-glass:before {
  content: "\e917";
}
.golf-icons-mail:before {
  content: "\e918";
}
.golf-icons-plus2:before {
  content: "\e90d";
}
.golf-icons-text-document:before {
  content: "\e919";
}
.golf-icons-home:before {
  content: "\e91a";
}
.golf-icons-home3:before {
  content: "\e91b";
}
.golf-icons-price-tag:before {
  content: "\e935";
}
.golf-icons-coin-dollar:before {
  content: "\e93b";
}
.golf-icons-calendar:before {
  content: "\e953";
}
.golf-icons-bubbles:before {
  content: "\e96c";
}
.golf-icons-user:before {
  content: "\e971";
}
.golf-icons-user-plus:before {
  content: "\e973";
}
.golf-icons-user-minus:before {
  content: "\e974";
}
.golf-icons-equalizer:before {
  content: "\e992";
}
.golf-icons-cog:before {
  content: "\e994";
}
.golf-icons-trophy:before {
  content: "\e99e";
}
.golf-icons-bin:before {
  content: "\e9ac";
}
.golf-icons-list-numbered:before {
  content: "\e9b9";
}
.golf-icons-list2:before {
  content: "\e9bb";
}
.golf-icons-tree:before {
  content: "\e9bc";
}
.golf-icons-bookmark:before {
  content: "\e9d2";
}
.golf-icons-star-empty:before {
  content: "\e9d7";
}
.golf-icons-star-full:before {
  content: "\e9d9";
}
.golf-icons-plus:before {
  content: "\ea0a";
}
.golf-icons-info:before {
  content: "\ea0c";
}
.golf-icons-cancel-circle:before {
  content: "\ea0d";
}
.golf-icons-cross:before {
  content: "\ea0f";
}
.golf-icons-checkmark:before {
  content: "\ea10";
}
.golf-icons-arrow-up2:before {
  content: "\ea3a";
}
.golf-icons-arrow-right2:before {
  content: "\ea3c";
}
.golf-icons-arrow-down2:before {
  content: "\ea3e";
}
.golf-icons-arrow-left2:before {
  content: "\ea40";
}
.golf-icons-move-up:before {
  content: "\ea46";
}
.golf-icons-move-down:before {
  content: "\ea47";
}
