.my-league-view {

  .top-bar {
    display: flex;
    border-bottom: 2px solid $dark;
    padding-left: 8px;
  }

  .expanded {
    display: none;

    div.navItem {
      border-radius: 30px;

      .title {
        display: none;
      }

      &.selected {
        background-color: $dark;
        color: white;
      }

      &:hover {
        background-color: $light;
      }
    }
  }

  .content-parent {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .content {
    padding: 12px;
    flex-grow: 1;
    height: 100%;
    overflow: auto;
  }

  @media only screen and (min-width: $break_point) {

    display: flex;
    flex-direction: column;

    .condensed {
      display: none;
    }

    .expanded {
      display: block;
      margin-top: 8px;
      padding: 8px;
      border-right: 1px solid $dark;
    }

    .content {
      flex-grow: 1;
    }
  }

}
