.my-league-view {

  .top-bar {
    display: flex;
    border-bottom: 2px solid $dark;
    padding-left: 8px;

    @media only screen and (min-width: $break_point) {
      .league-name-phone {
        display: none;
      }
    }

    .league-name-phone {
      font-size: 26px;
      padding-top: 8px;
      color: $dark;
      font-weight: bold;
    }

    .back-home {

      font-size: 16px;
      margin-top: 4px;
      margin-bottom: 4px;
      display: none;

      @media only screen and (min-width: $break_point) {
        display: block;
      }

      .icon {
        font-size: 14px;
        color: $light;
        background-color: $dark;
        border-radius: 10px;
        padding: 2px;
        margin-right: 4px;
        cursor: pointer;
      }

      .league-name {
        font-size: 36px;
        color: $dark;
      }
    }
  }

  .expanded {
    display: none;

    div.navItem {
      border-radius: 30px;

      .title {
        display: none;
      }

      &.selected {
        background-color: $dark;
        color: white;
      }
    }
  }

  .content-parent {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .content {
    padding: 12px;
    flex-grow: 1;
    height: 100%;
    overflow: auto;
  }

  @media only screen and (min-width: $break_point) {

    display: flex;
    flex-direction: column;

    .condensed {
      display: none;
    }

    .expanded {
      display: block;
      margin-top: 8px;
      padding: 8px;
      border-right: 1px solid $dark;
    }

    .content {
      flex-grow: 1;
    }
  }

}
