.rosters {

  .start-draft {
    margin: 8px;
    text-align: center;
  }

  .pick-info {
    padding-left: 8px;
    font-size: 18px;

    &.mypick {
      border: 2px solid red;
    }

    .team {
      color: $dark;
      font-size: 28px;
      font-weight: bolder;
    }

    &.last {
      margin-bottom: 12px;
    }
  }

  .tourney-select {
    padding: 8px;
  }

  .roster-lists {

    @media only screen and (min-width: $break_point) {
      display: flex;

      .roster-list {
        margin-left: 8px;
        margin-right: 8px;
      }
    }
  }

  .roster-list {
    box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.2);
    margin-bottom: 8px;
    width: 100%;

    .instructions {
      padding-top: 12px;
      padding-bottom: 4px;
      padding-right: 4px;
      font-style: italic;
    }

    .table-row {
      cursor: pointer;
    }

    .table-loading {
      font-size: 22px;
      text-align: center;
      padding: 20px;
    }

    .title {
      font-family: $golf_font;
      color: $light;
      background-color: $dark;
      font-size: 24px;
      padding: 8px;
    }

    .body {

      .player {
        border-bottom: 1px solid $light;
        padding: 4px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;

        span {
          border-radius: 8px;
          background-color: transparent;
          transition: 200ms;

          &:hover {
            background-color: $light;
            color: white;
          }

          &:active {
            background-color: $dark
          }
        }

        &:hover {
          background-color: $alt;
          color: white;
        }
      }
    }
  }
}
