.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  .background {
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.4);
  }

  .loading-container {
    background-color: white;
    border: 1px solid $dark;
    text-align: center;
    position: absolute;
    top: 40px;
    left: calc(50% - 58px);
    width: 100px;
    padding: 8px;

    .golf-image {
      background-image: url('../images/golf_loading.gif');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 48px;
      width: 48px;
    }
  }
}
