@import './variables';

@import '../fonts/golf-icons/style';
@import '../fonts/buenard/stylesheet';

body {
  padding: 0px;
  margin: 0px;
}

#app {
  height: 100%;
  width: 100%;
}

.fancy-font {
  font-family: $golf_font;
}

.flex {
  display: flex;
}

.error {
  font-family: $golf_font;
  color: red;
}

.page-title {
  color: $dark;
  font-size: 26px;
  font-family: $golf_font;
}

@import './pages/entry_page';
@import './pages/main_page';
@import './pages/views/my_league_view';
@import './pages/views/rosters';
