@import './variables';

@import '../fonts/golf-icons/style';
@import '../fonts/buenard/stylesheet';

body {
  padding: 0px;
  margin: 0px;
}

a {
  cursor: pointer;
  color: $dark;
  text-decoration: underline;

  &:active {
    color: $light;
  }
}

#app {
  height: 100%;
  width: 100%;
}

.page {
  margin: 24px;
}

.fancy-font {
  font-family: $golf_font;
}

.flex {
  display: flex;
}

.error {
  font-family: $golf_font;
  color: red;
}

.page-title {
  color: $dark;
  font-size: 26px;
  font-family: $golf_font;
}

.shadow {
  box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.2);
}

.space-between {
  justify-content: space-between;
}

p {
  font-family: $golf_font;
  color: darkgray;
}

@import './pages/entry_page';
@import './pages/main_page';
@import './pages/views/my_league_view';
@import './pages/views/rosters';
@import './pages/views/home_view';
@import './pages/views/draft_setup';
@import './pages/views/create_league';
@import './pages/views/standings';

@import './widgets/suggest_box';
